<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>Locação de Veiculos</title>
</head>

<body>

	<br>
	<br>
	<br>

	<br>
	<div class="container">
		<a href="http://localhost:8080/locacao-veiculos-services/veiculos/novoVeiculo"><button type="button"
				class="btn btn-primary">Cadastrar de Veiculo</button></a> <a
			href="http://localhost:8080/locacao-veiculos-services"><button type="button" class="btn btn-primary">Voltar</button></a>
		<br>
		<div class="col">
			<br>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Código do Veiculo</th>
						<th scope="col">Marca</th>
						<th scope="col">Nome</th>
						<th scope="col">Ano</th>
						<th scope="col">Modelo</th>
						<th scope="col">Combustível</th>
						<th scope="col">Valor Diária</th>
						<th scope="col">Status</th>
						<th scope="col">Ações</th>
					</tr>
				</thead>
				<tbody th:each="veiculo : ${listarVeiculo}">
					<tr>
						<th scope="row" th:text="${veiculo.id}"></th>
						<td th:text="${veiculo.marca}"></td>
						<td th:text="${veiculo.nome}"></td>
						<td th:text="${veiculo.ano}"></td>
						<td th:text="${veiculo.modelo}">Hatch</td>
						<td th:text="${veiculo.combustivel}"></td>
						<td th:text="${veiculo.valorDiaria}"></td>
						<td th:text="${veiculo.status}"></td>
						<td><a
							th:href="@{/veiculos/editarVeiculo/{id}(id=${veiculo.id})}">Alterar</a>
							| <a th:href="@{/veiculos/deletar/{id}(id=${veiculo.id})}">Deletar</a></td>
					</tr>
					
				</tbody>
			</table>

		</div>

	</div>
	<!----------------------------------------------------------------------------------------------->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>