<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>Locação de Veiculos</title>
</head>

<body>

	<br>
	<br>
	<br>

	<br>
	<div class="container">
		<a
			href="http://localhost:8080/locacao-veiculos-services/aluguelVeiculos/novoAluguelVeiculo"><button
				type="button" class="btn btn-primary">Cadastrar Aluguel de
				Veiculo</button></a> <a href="http://localhost:8080/locacao-veiculos-services"><button
				type="button" class="btn btn-primary">Voltar</button></a> <br>
		<div class="col">
			<br>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Código da Alocação</th>
						<th scope="col">Data da Alocação</th>
						<th scope="col">Cliente</th>
						<th scope="col">Veiculo</th>
						<th scope="col">Valor a ser Pago</th>
						<th scope="col">Data da Devolução</th>
						<th scope="col"></th>
					</tr>
				</thead>
				 <tbody th:each="aluguel : ${alugueis}">
					<tr>
						<th scope="row" th:text="${aluguel.id}"></th>
						<td th:text="${aluguel.dataLocacao}"></td>
						<td th:text="${aluguel.cliente.nome}"></td>
						<td th:text="${aluguel.veiculo.nome}"></td>
						<td th:text="${aluguel.valorPago}"></td>
						<td th:text="${aluguel.dataDevolucao}"></td>
						
						<td><a th:href="@{/aluguelVeiculos/devolucao/{id}(id=${aluguel.id})}">Devolver</a></td>
					</tr>

				</tbody> 
			</table>

		</div>

	</div>
	<!----------------------------------------------------------------------------------------------->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>